
<h2> xin chao</h2>

<div id="nav">
    <div class="nav-left">
        <ul>
            <li>
                <a class="dropdown-main" href="#">
                    <img class="nav-logo" src="src/public/img/logo_uniqlo.png" alt="">                         
                </a>
            </li>
            <li class="dropdown">
                <a class="dropdown-main item" href="#"><h2>WOMEN</h2></a>

                <ul class="dropdown-content">
                    {{!-- <div class="dropdown-container">
                        <span>
                            <h3>Top</h3>
                            <span class="dropdown-icon">
                                <i class="fa-solid fa-xmark"></i>
                                <p>Close</p>
                            </span>
                        </span>
                        <li class="dropdown-content-main">
                            <ul class="main-list">
                                <li> <a href="#">outer</a></li>
                                <li> <a href="#">outer</a></li>
                            </ul>
                        </li>
                        <li class="dropdown-content-main">
                            <ul class="main-list">
                                <li> <a href="#">coats</a></li>
                                <li> <a href="#">coats</a></li>
                            </ul>
                        </li>
                        <li class="dropdown-content-main">
                            <ul class="main-list">
                                <li> <a href="#">outer</a></li>
                                <li> <a href="#">outer</a></li>
                            </ul>
                        </li> 
                    </div>      --}}                     
                </ul>
            </li>
            <li class="dropdown">
                <a class="dropdown-main item" href="#"><h2>MEN</h2></a>
            </li>
            <li class="dropdown">
                <a class="dropdown-main item" href="#"><h2>KIDS</h2></a>
            </li>
            <li class="dropdown">
                <a class="dropdown-main item baby" href="#"><h2>BABY</h2></a>
            </li> 
        </ul>
    </div>
    <div class="nav-right">
        <ul>
            <li>
                <a class="dropdown-main right search" href="#">
                    <i class="icon fa-solid fa-magnifying-glass"></i>
                    <p>Search</p>
                </a>
            </li>
            <li>
                <a class="dropdown-main right" href="#">
                    <i class="icon fa-regular fa-heart"></i>
                    <p>Wishlist</p>
                </a>
            </li>
            <li>
                <a class="dropdown-main right" href="#">
                    <i class="icon fa-solid fa-cart-shopping"></i>
                    <p>Cart</p>
                </a>
            </li>   
        </ul>
    </div>
</div>

<script src="https://kit.fontawesome.com/8ab497076a.js" crossorigin="anonymous"></script>