h2 {
  color: red; }

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px; }

.nav-logo {
  width: 105px;
  height: 59px;
  margin: 2px 10px -19px 30px; }

#nav {
  position: relative;
  border-bottom: 1px solid #000;
  height: 72px;
  line-height: 72px;
  z-index: 1; }

#nav ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none; }

a {
  text-decoration: none;
  color: #000; }

.nav-left {
  position: absolute;
  left: 0;
  margin: 5px 0; }

.nav-right {
  position: absolute;
  right: 0;
  margin: 5px 84px;
  height: 35px;
  line-height: 35px;
  text-align: center; }

li {
  margin: 0 10px; }

h2 {
  margin-bottom: -10px; }

p {
  margin-top: -10px; }

#nav li:hover .right {
  background-color: #fff;
  color: #757575; }

#nav li:hover .item {
  background-color: #fff;
  text-decoration: underline; }

.dropdown-content
.dropdown-container {
  /* text-align: center; */
  width: 500px;
  z-index: 2;
  position: relative;
  display: flex;
  justify-content: center; }

.dropdown-container .dropdown-content-main {
  display: flex; }

h3 {
  text-decoration: underline;
  font-size: 17px;
  left: 0;
  position: absolute; }

span {
  display: block; }
